<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ static_url("favicon.ico")}}">

        <!--Colors-->
        <link rel="stylesheet" href="{{ static_url("css/colors.css")}}">

        <!--Placements-->
        <link rel="stylesheet" href="{{ static_url("css/placement.css")}}">

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--jQuery-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>

        <!--MaterializeCSS Scripts-->
        <script type="text/javascript" src="{{ static_url("materialize_files/js/materialize.js")}}"></script>
        <!--Import MaterializeCSS stylesheet-->
        <link type="text/css" rel="stylesheet" href="{{static_url("materialize_files/css/ohmega_materialize.css")}}" media="screen,projection"/>

        <title>{{title}}</title>
    </head>
    <body class="alizarin">
      <script type="text/javascript">
        serverHost = "{{host}}";
      </script>
        <div class="container">
            <form class="col s12">
                <div id="div-join" class="row card black hoverable vertical-center">
                    <div class="card-content center">
                        <div class="row">
                            <div class="input-field col s8 offset-s4">
                                <i class="material-icons prefix">email</i>
                                <input id="join_email" type="email" class="validate" style="color:white;">
                                <label for="join_email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s8 offset-s4">
                                <i class="material-icons prefix">lock</i>
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <a class="btn-large waves-effect waves-light col s4 offset-s6" id="btn-join">Join</a>
                    </div>
                </div>
            </form>
        </div>

        <script src="{{static_url("js/join.js")}}"></script>

        <script type="text/javascript">
             $(document).ready(function() {
                 $('select').material_select();
             });
        </script>
    </body>
</html>
