<html>
    <head>
        <script type="text/javascript" src="{{ static_url("materialize_files/js/materialize.js")}}"></script>
        <link type="text/css" rel="stylesheet" href="{{static_url("materialize_files/css/ohmega_materialize.css")}}" media="screen,projection"/>
    </head>
    <body>
        <div class="container">
            <form class="col s12" action="/login" id="login_form" method="post">
                <div class="row card black hoverable vertical-center" id="card-login">
                    <div class="card-content center">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" type="text" class="validate">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript">
             $(document).ready(function() {
                 $('select').material_select();
             });
        </script>
    </body>
</html>